body {
  font-family: "Oswald";
  margin: 0;
  padding: 0;
}
#bannerimage {
    width: 100%;
    background-image: url("../project_img/palo_alto_senior_high.jpeg");
    height: 405px;
    background-color: purple;
    background-size: 100% 100%;
  }

#topBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3aa7eb;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
/* HEADER CSS */
.header {
  background-color: #eebbba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

/* FOOTER CSS */
.footer {
  margin-top: 100px;
  box-sizing: border-box;
  background-color: #eebbba;
  height: 200px;
}

.footer #socials {
    padding: 1% 5%;
}

#socials p {
    text-decoration: #000000 wavy underline;
}
.footer #socials a{
    text-decoration: none;
    color: #000000;

}

.footer #socials span {
    font-family: "Oswald";
}

/* NAVBAR CSS */
.nav_bar {
  overflow: hidden;
}

.nav_bar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}
  

.nav_bar a:hover {
  color: #ffffff;
}


.nav_bar .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .nav_bar a {
    display: none;
  }
  .nav_bar a.icon {
    float: right;
    display: block;
  }
  .form_calender {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }
}

@media screen and (max-width: 700px) {
  .nav_bar.responsive {
    position: relative;
  }
  .nav_bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav_bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.logo {
  display: flex;
}

.logo_img {
  padding-top: 40px;
}

.logo_text {
  font-size: 2rem;
  padding-top: 13px;
}





/* HOME PAGE FLEXBOXES */
.main_content {
  display: flex;
  margin:  5% auto 10%;
  position: relative;
  max-width:100%;
  width:1000px
}
.content_left {
  text-align: center;
  margin-right: 20px;
  background-image: url("../project_img/neuron.jpg");
}

.content_left p {
  font-size: 1.5em;
  padding: 50% 5%;
  color: #ffffff;
}

.content_right {
  display: flex;
  flex-direction: column;
}

.content_rightTop {
  padding: 3%;
  background-color: #eebbba;
}

.content_rightBot {
  display: flex;
  margin-top: 20px;
}

.content_rightBotLeft {
  margin-right: 20px;
  width: 600px;
  height: 290px;
}

.content_rightBotLeft img {
  height: 290px;
}
.content_rightBotRight {
  text-align: center;
  background-color: #f48a89;
  padding-top: 10%
}


/* SLIDESHOW CSS */
#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
  }
  #slider input[type="radio"] {
    display: none;
  }
  #slider label {
    cursor: pointer;
    text-decoration: none;
  }
  #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  #overflow {
    width: 100%;
    overflow: hidden;
  }
  #slide1:checked ~ #slides .inner {
    margin-left: 0;
  }
  #slide2:checked ~ #slides .inner {
    margin-left: -100%;
  }
  
  #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 400%;
  
    height: 300px;
  }
  #slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    color: #000000;
  }
  #slides .slide_1 {
    background: #ffffff;
  }
  
  
  #slides .slide_2 {
    background: #ffffff;
  }
  
  .slide-content {
      display:flex;
  }
  
  .slide-content .post-date {
      color: #A9A9A9;
      font-size: .75em
  }
  
  #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
  }
  #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.4;
  }
  #controls label:hover {
    opacity: 1;
  }
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
  }
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
  }
  #bullets {
    margin: 150px 0 0;
    text-align: center;
  }
  #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
  }
  #slide1:checked ~ #bullets label:nth-child(1),
  #slide2:checked ~ #bullets label:nth-child(2),
  #slide3:checked ~ #bullets label:nth-child(3),
  #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
  }


/* HOME PAGE CONTACT FORM & CALENDER */
.form_calender {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.form input {
  border: 1px solid black;
  border-radius: 4px;
}

.form input[type="text"] {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}

.form input::placeholder {
  font-family: "Oswald";
  padding: 5px;
}

.form input[type="radio"] {
  margin: 5px;
  accent-color: #eebbba;
  cursor: pointer;
}

.form input[type="submit"] {
  background-color: #ffffff;
  padding: 10px 20px;
  font-family: "Oswald";
  border-radius: 10px;
  border: 1px solid #000000;
  margin-top: 20px;
}

.form input[type="submit"]:hover {
  background-color: #eebbba;
  transition: 0.2s;
  cursor: pointer;
}


/* EXECUTIVES PAGE */
.contacts_title {
  font-family: "Oswald";
  text-align: center;
  font-size: 1em;
}

.executives {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5% 25% 10%;
  justify-content: space-between;
}


.exec_photo img {
  border-radius: 50%;
  width: 275px;
  margin: 0 30% 0 15%;
}

.exec_info {
  font-size: 1.25em;
  width: 50%
}







/* NEWS & EVENTS PAGE */

.title {
  font-size: 2em;
    margin-left: 5%;
}


.news_container {
    margin-left: 5%;
    width: 100%;
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.news .news-content {
    display: flex;
}


.news-content .post-date {
    color: #A9A9A9;
    font-size: .75em;
}
.news-content .news-text {
    padding: 15px;
    width: 50%
}

.news-text .read_more {
    text-decoration:none;
    border-radius: 5px;
    padding: 5px;
    color: #000000;
}

.news-text .read_more:hover {
    transition: 0.2s;
    background-color: #eebbba;
}

.news-image {
    height: 320px;
    width: auto;
}

.news-image img {
    object-fit: contain;
}
.events_container {
    margin-left: 5%;
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.event .event-content {
    display: flex;
}

.event-content .post-date {
    color: #A9A9A9;
    font-size: .75em;
}
.event-content .event-text {
    padding: 15px;
    width: 50%
}