table, td, th {
    border: 1px solid #000000;
}

nav {
    background-color: #2256e4;
    padding: 10px
}

body {
    font-family:Arial, Helvetica, sans-serif
}
nav a {
    color: #ffffff;
}

h1 {
    text-align: center;

}

p {
    margin-left: 100px;
    margin-right:25%;
    padding-top: 20px;
}
.skills img {
    width: 40px;
    height: 40px;
}

.skills div {
    text-align: center;
}

.main, .skills {
    display: flex;
}

.skills {
    flex: .75;
    justify-content: space-evenly;
    padding: 75px;
}

.other {
    background-color: #2a4388;
    border-radius: 15px;
    color: #ffffff;
    padding: 25px;
    flex: .25;
}
